footer {
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-family: $font;
  box-shadow: $shadow;
  width: 100vw;
  height: 25vh;
  margin-top: 50px;
  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 20px 0;
  }
  p {
    font-size: 1.2rem;
    padding: 5px 0;
    transition: 0.2s linear;
    cursor: pointer;
    &:hover {
      font-size: 1.5rem;
    }
  }

  .subscribe {
    .fab {
      font-size: 25px;
      padding: 10px 5px 5px 0;
      &:hover {
        cursor: pointer;
      }
    }
    form {
      position: relative;
      width: 25vw;
      height: 6vh;
      input {
        width: 25vw;
        height: 6vh;
        font-size: 1.2rem;
        text-transform: capitalize;
        border: none;
        border-bottom: 1px solid rgb(99, 99, 99);
        padding-left: 5px;
        &::placeholder {
          padding-left: 0;
        }
      }
      &::after {
        display: block;
        content: "";
        width: 25vw;
        height: 2px;
        color: black;
      }
      .arrow {
        position: absolute;
        top: 10px;
        right: 0;
        display: inline-block;
        width: 25px;
        height: 25px;
        border: 1px solid black;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        i {
          font-size: 18px;
          line-height: 25px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    div {
      margin-left: 15px;
    }
    h3 {
      font-size: 1.8rem;
    }

    .subscribe {
      .fab {
        font-size: 30px;
        padding: 10px 15px 5px 0;
        margin-bottom: 20px;
      }
      form {
        width: 90%;

        input {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
  footer {
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    div {
      margin-left: 15px;
    }
    h3 {
      font-size: 1.5rem;
    }

    .subscribe {
      .fab {
        font-size: 30px;
        padding: 10px 15px 5px 0;
        margin-bottom: 20px;
      }
      form {
        width: 90%;

        input {
          width: 90%;
        }
      }
    }
  }
}
