body {
  background-color: rgb(250, 249, 249);
}
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: $shadow;
  z-index: 1000;

  nav {
    width: 100%;
    height: 50px;
    @include flex(center, space-between);

    ul {
      @include flex();

      li {
        padding: 0 10px;

        i {
          padding: 10px;
          font-size: 1.8rem;
          color: rgb(10, 10, 10);
          cursor: pointer;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
header {
  nav {
    div {
      span {
        font-size: 30px;
        font-family: $font-logo;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: default;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  header {
    height: 80px;

    nav {
      height: 80px;

      ul {
        li {
          padding: 0 20px;

          i {
            font-size: 3rem;
          }
        }
      }
    }
  }
  header {
    nav {
      div {
        span {
          font-size: 35px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}
