.news.container {
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  height: 600px;
  box-shadow: $shadow;
  padding: 15px;
  .text-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    color: black;

    h2 {
      font-size: 2.2rem;
      margin-top: 20px;
      text-transform: uppercase;
    }
    h3 {
      font-size: 2rem;
      margin: 20px 0;
      text-transform: capitalize;
    }
  }

  .design-board {
    max-width: 1110px;
    height: 100%;
    background-image: url(../img/design-board.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .news.container {
    height: 700px;
    .text-container {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2.2rem;
      }
    }

    .design-board {
      background-position: 65% 50%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .news.container {
    .text-container {
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2.2rem;
      }
    }

    .design-board {
      background-position: 65% 50%;
    }
  }
}

@media (min-width: 350px) and (max-width: 576px) {
  .news.container {
    .text-container {
      h2 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }

    .design-board {
      background-position: 65% 50%;
    }
  }
}
