section.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-bottom: 50px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.24);
  }

  .pc-video {
    width: 100% !important;
    height: auto;
  }
  .mobile-video {
    display: none;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font-size: 3rem;
    letter-spacing: 1px;
    color: $whitecolor;
    z-index: 100;
  }
  button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100px;
    height: 50px;
    font-family: $font-logo;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: $whitecolor;
    z-index: 100;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      background-color: $whitecolor;
      width: 100px;
      height: 2px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 767px) and (max-width: 991px) {
  section.video {
    height: 100vh;
    overflow: hidden;
    .pc-video {
      display: none;
    }
    .mobile-video {
      display: block;
      width: 100%;
      height: auto;
    }
    button {
      top: 70%;
      transform: translate(-50%, -70%);
      font-size: 3rem;
      &::after {
        content: "";
        width: 110px;
        height: 2px;
      }
    }
    h1 {
      font-size: 3rem;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 576px) {
  section.video {
    .pc-video {
      display: none;
    }
    .mobile-video {
      display: block;
      width: 100%;
      height: 100%;
    }
    button {
      top: 80%;
      transform: translate(-50%, -80%);
      font-size: 3rem;
      &::after {
        content: "";
        width: 110px;
        height: 2px;
      }
    }
    h1 {
      font-size: 2.2rem;
    }
  }
}
